ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 100%;
  }
  
  ul.topnav li {
      float: left;
      border-right: 1px solid #bbb;
    }
  
  ul.topnav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover {background-color: #ddd;}
  
  ul.topnav li a.active {
    color: white;
    background-color: rgb(58, 180, 221);
}
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 800px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  